.feedback-form {
    width: 408px;
    padding: 24px;
    margin: 24px auto;

    background-color: #ffffff;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

/* Labels */
.feedback-form label {
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.feedback-form input,
.feedback-form textarea {
    width: 100%;
    padding: 8px 16px;

    font: inherit;
    color: #2e2f42;

    border: 1px solid #808080;
    border-radius: 4px;
    outline: transparent;

    transition: border-color 200ms ease;
}

.feedback-form input {
    height: 40px;
}

.feedback-form textarea {
    resize: none;
}


.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
    color: #808080;
}


.feedback-form input:hover,
.feedback-form textarea:hover {
    border-color: #000000;
}


.feedback-form input:focus,
.feedback-form textarea:focus {
    border-color: #000000;
}


.feedback-form button {
    width: 95px;
    height: 40px;

    margin-top: 8px;

    border: none;
    border-radius: 8px;

    background-color: #4e75ff;
    color: #ffffff;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;
    transition: background-color 200ms ease;
}

.feedback-form button:hover {
    background-color: #6c8cff;
}